{% extends "basic.html" %}
{% block content %}
<script>
$(document).ready(function(){
    $("#submit").bind('click',function(){
        var a1 = $("#money_add").val();
        var a2 = $("#acsum").val();
        var a3 = $("#acget").val();
        var re = "^[0-9]+[\.][0-9]{0,3}$";
        var reg = new RegExp(re); 
        if(!a1 || !reg.test(a1))
        {
            $("#msg").html("金额输入错误");
            return false;
        }
        if((parseFloat(a1)+parseFloat(a3))>parseFloat(a2))
        {
            $("#msg").html("追加金额超过限额");
            return false;
        }
       
    });
});

</script>

                        <div class="col-xs-12">
                            <div class="sec-box">
                             
                                <header>
                                    <h2 class="heading">{{pro_id}}号项目经费追加</h2>
                                </header>
                                <div class="contents">
                              
                                    <section>
                                    <form action="/account/result_check" method="post">
                                            {% csrf_token %} 
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>账户名目</th>
                                                    <th>信息</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                          
                                                <tr>
                                                    <td>项目预算</td>
                                                    <td id="acsum">{{proinfo.money_sum}}</td>
                                                </tr>
                                                <tr>
                                                    <td>账户到帐经费</td>
                                                    <td id="acget">{{proinfo.money_act}}</td>
                                                </tr>
                                                <tr>
                                                    <td>账户余额</td>
                                                    <td id="acleft">{{proinfo.money_lef}}</td>
                                                </tr>
                                                <tr>
                                                    <td>追加经费（精确到小数点一位）</td>
                                                    <td><input type="text" id="money_add" name="money_add" ></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <td class="col-md-4"></td>
                                        <input type="hidden" id= "proid" name="proid" value="{{proid}}"/>
                                        <td class="col-md-8"><input type="submit" id="submit" value="提交" class="btn btn-peimary style3">
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="sec-box">
                                <header>
                                    <h2 class="heading">{{pro_id}}号项目经费类别使用情况</h2>
                                </header>
                                <div class="contents">
                                    <section class="boxpadding">
                                    	<div class="progress">
                                    	<i style="color:red;">设备费</i>
                                            <div style="width: {{a1}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                        <i style="color:red;">数据采集费</i>
                                            <div style="width: {{a2}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                        <i style="color:red;">专家咨询费</i>
                                            <div style="width: {{a3}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
                                            </div>
                                        </div>
                                        <div class="progress">
                                        <i style="color:red;">印刷费</i>
                                            <div style="width: {{a4}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
                                            </div>
                                        </div>
                                        <div class="progress">
                                    	<i style="color:red;">差旅费</i>
                                            <div style="width: {{a5}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                    	<i style="color:red;">会议费</i>
                                            <div style="width: {{a6}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                    	<i style="color:red;">国际合作交流费</i>
                                            <div style="width: {{a7}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                    	<i style="color:red;">资料费</i>
                                            <div style="width: {{a8}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                    	<i style="color:red;">劳务费</i>
                                            <div style="width: {{a9}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                        <div class="progress">
                                    	<i style="color:red;">其他费用</i>
                                            <div style="width: {{a0}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        	</div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
{% endblock %}
