{% extends "basic.html" %}
{% block content %}
              <form action="/account/cost_input" method="post">
              {% csrf_token %} 
                                <header>
                                    <h2 class="heading">经费票据录入，请输入项目号</h2>
                                </header>
                                <div class="contents boxpadding">
                                    
                                    <i style="color:red;">{{error}}</i>
                                       <!-- Search Section Start -->
                                       <div class="search-box">
                                            <input type="text" id= "projectid" name="projectid" placeholder="Search Anything" />
                                            <input type="submit" value="go" />
                                       </div>
                                        <!-- Search Section End -->
                                </div>
                                                  
               </form>
{% endblock %}
