{% extends "mbase.html" %}

{% block extracss %}
<link href="../static/css/style.css" rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap.css" rel="stylesheet" media="screen" />

{% endblock %}

{% block content %}

<script>
$(document).ready(function(){
$("#time").datepicker({ 
     dateFormat: "yy'-'mm'-'dd"});
});
</script>

<script>

$(document).ready(function(){
  $("select#payname").click(function(){
    var kind="";
    var item="";
    kind = $(this).val();
    $.ajax({
        type:"GET",
        url:"/accountedit_kindcontent_show/",
        data:{
            kind:kind,
        },
        dataType: "json",
        success:function(data){
            $("#showcontent").empty();
            for(var i=0;i<data.length;i++ )
            {
                item = '<input type="checkbox" name="check" value = "'+data[i]+'">'+data[i]+';    数量 <input type="text" style="width:30px;height:18px;font-size:1px;" id="'+data[i]+'" name = "'+data[i]+'" >  <br />';
                $("#showcontent").append(item);
            }
        }
    });
    return false;
    });
});

</script>

<script>

$(document).ready(function(){
  $("input#edit").click(function(){
    var i=0;
    var namecontent="";
    var time="";
    var money="";
    var note="";
    var billid="";
    var paykind="";
    var pwd=""
    var a="";
    var numtemcon = "";
    var numbercontent = "";
    
    var row=document.getElementsByName("check");
    var numcheck = new RegExp("^[0-9]*$");
     for(i=0;i<row.length;i++)
    {
         if(row[i].checked)
         {
         numtemid = row[i].value;
         numtemcon = document.getElementById(numtemid).value;
         if(!numcheck.test(numtemcon)||!numtemcon)
        {
            $("#error").html("数字不正确");
            return false;
         }
         
         numbercontent = numbercontent + numtemcon + ",";
         namecontent = namecontent+row[i].value+",";
         
         }
    }
    var tem = $("#extraname").val();
    if(tem)
    {
    namecontent = namecontent + tem +","
    }
    document.getElementById("namecontent").value=namecontent;
    document.getElementById("numbercontent").value=numbercontent;
    billid=$("#billid").val();
    time=$("#time").val();
    money=$("#money").val();
    note=$("#note").val();
    paykind=$("#payname").val();
    pwd=$("#pwd").val();
    if(!pwd)
    {
            $("#error").html("密码不能为空");
            return false;
    }
    if(!time)
    {
            $("#error").html("输入时间");
            return false;
    }
    if(!paykind)
    {
            $("#error").html("选择经费种类");
            return false;
    }
    if(!namecontent)
    {
            $("#error").html("选择花费名称");
            return false;
    }
    var re = "^[0-9]+[\.][0-9]{0,3}$";
    var reg = new RegExp(re);
    if(!money || !reg.test(money))
    {
         $("#error").html("金额输入错误");
         return false;
    }

    a = $("#time").val();
    var reg =/^([1-2]\d{3})[\/|\-](0?[1-9]|10|11|12)[\/|\-]([1-2]?[0-9]|0[1-9]|30|31)$/;
    if(!a|| !reg.test(a))
    {
            $("#error").html("时间错误，请检查");
            return false;
    }
    });
});

</script>

<div class="content-section">
                <div class="container-liquid">
                    <div class="row">
<div class="col-xs-6">
                            <div class="sec-box">
                               
                                <header>
                                    <h2 class="heading" 修改内容</h2>
                                    <i style="color:red;" id = "error" name = "error">{{error}}</i>
                                </header>
                                <div class="contents">
                                    
                                    <section>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>内容</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>数据库ID号</td>
                                                    <td>{{bill_edit_show.id}}</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>项目号</td>
                                                    <td>{{bill_edit_show.proid}}</td>
                                                </tr>
                                                 <tr>
                                                    <td>资金卡号</td>
                                                    <td>{{acid}}</td>
                                                </tr>
                                                <tr>
                                                    <td>经办人</td>
                                                    <td>{{bill_edit_show.transactor}}</td>
                                                </tr>
                                                <tr>
                                                    <td>修改内容</td><td>金额请精确到小数点一位，否则为非法</td>
                                                </tr>
                                                <form action = "/accountinput_edit_submit/" method="post">

                                                
                                                

                                                <tr>
                                                <td>凭单号</td>
                                                    <td><input type = "text" id="billid" name="billid" value={{bill_edit_show.bill_id}} ></td>
                                                </tr>
                                                
                                                <tr>
                                                <td>金额</td>
                                                    <td><input type = "text" id="money" name="money" value="{{bill_edit_show.money}}">元</td>
                                                </tr>
                                                <tr>
                                                <td>时间</td>
                                                    <td><input type = "text" id="time" name="time" value = "{{bill_edit_show.time}}" ></td>
                                                </tr>
                                                
                                                 <tr>
                                                    <td>花费种类(原始信息)</td>
                                                    <td>{{bill_edit_show.paykind}}</td>
                                                </tr>
                                                <tr>
                                                <td>花费种类(更新)</td>
                                                <td>
                                                <select class="form-control" id="payname" name="payname" >
                                                <option></option>
                                                {% for row in kind %}
                                                <option value="{{row.payname}}">{{row.payname}}</option>
                                                {% endfor %}
                                                 </select>
                                                 </td>
                                                </tr>
                                                <tr>
                                                    <td>种类内容(原始信息)</td>
                                                    <td>{% for row in kindcontent %}
                                                    名称:{{row.name}} 数量:{{row.number}}<br />
                                                    {% endfor %}
                                                    {% if name %}
                                                    补充内容：{{name}}
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                
                                                <td>种类内容(更新)，可多选</td>
                                                <td id = "showcontent" name = "showcontent">  </td>
                                                </tr>
                                                <tr>
                                                <td>种类内容补充（如无可选项，填写）</td>
                                                <td> <input type = "text" id = "extraname" name = "extraname" > </td>
                                                </tr>
                                                <tr>
                                                <td>备注</td>
                                                <td> <input type = "text" id="note" name="note" value="{{bill_edit_show.note}}"> </td>
                                                </tr>
                                                </tr>
                                                <tr>
                                                <td>密码</td>
                                                <td> <input type = "password" id="pwd" name="pwd" value=""> </td>
                                                </tr>
                                            <tr>
                                            <td class="col-md-4">
                                            <input type = "hidden" id="namecontent" name="namecontent" value="" >
                                            <input type = "hidden" id="numbercontent" name="numbercontent" value="" >
                                            <input type = "hidden" id = "bill_sqlid" name = "bill_sqlid" value = {{bill_edit_show.id}}>
                                            <td><input type = "submit" value="提交" id="edit" name="edit" class="btn btn-warning"></td>
                                            </td>
                                            </tr>
                                            </tbody>
                                           </form>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
