{% extends "sbase.html" %}
{% block content %}

<div class="content-section">
                <div class="container-liquid">
                    <div class="row">
                    
                    <div class="col-xs-12">
                            <div class="sec-box">
                                <header>
                                    <h2 class="heading">项目管理平台人员注销/还原</h2>
                                    <i style="color:red;" id = "error" name = "error">{{error}}</i>
                                    <h2 class="heading">
                                    <form action="/systemuser_userchange_del/" method="post">
                                    <select  id="uidshow" name="uidshow" >
                                    {% for row in user_in %}
                                                    
                                                    <option value="{{row.uid}}" >{{row.uid}}</option>
                                    {% endfor %}
                                                    </select>
                                                    <input type = "submit" id = "del" name = "del" value="注销" class="btn btn-warning" >
                                                    </h2>
                                    
                                    </form>
                                    
                                    <h2 class="heading">
                                    <form action="/systemuser_userchange_ret/" method="post">
                                    <select  id="uidhis" name="uidhis" >
                                    {% for row in user_out %}
                                                    
                                                    <option value="{{row.uid}}" >{{row.uid}}</option>
                                    {% endfor %}
                                                    </select>
                                                    <input type = "submit" id = "ret" name = "ret" value="还原" class="btn btn-warning" >
                                                    </h2>
                                    
                                    </form>
                                </header>
                                <div class="contents">
                                    <section>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>内容</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% if delshow %}
                                            <form action="/systemuser_userchange_del_sub/" method="post">
                                                <tr>
                                                    <td>编号</td>
                                                    <td>{{del_obj.uid}}</td>
                                                    <input type = "hidden" id = "uid" name = "uid" value="{{del_obj.uid}}">
                                                </tr>
                                                <tr>
                                                    <td>姓名</td>
                                                    <td>{{del_obj.uname}}</td>
                                                </tr>
                                               <tr>
                                                    <td>房间</td>
                                                    <td>{{del_obj.room}}</td>
                                                </tr>
                                               <tr>
                                                    <td>性别</td>
                                                    <td>{{del_obj.sex}}</td>
                                                </tr>
                                                <tr>
                                                    <td>生日</td>
                                                    <td>{{del_obj.birthday}}</td>
                                                </tr>
                                                <tr>
                                                    <td>邮箱</td>
                                                    <td>{{del_obj.mail}}</td>
                                                </tr>
                                                <tr>
                                                    <td>手机</td>
                                                    <td>{{del_obj.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td>固话（选填）</td>
                                                    <td>{{del_obj.tel}}</td>
                                                </tr>
                                                <tr>
                                                    <td>权限</td>
                                                    <td>{{del_obj.permission}}</td>
                                                </tr>
                                                
                                                <tr>
                                                <td></td>
                                                <td><input type = "submit"  value="注销" class="btn btn-warning" ></td>
                                                </tr>
                                                </form>
                                                {% endif %}
                                                
                                                
                                                 {% if retshow %}
                                            <form action="/systemuser_userchange_ret_sub/" method="post">
                                                <tr>
                                                    <td>编号</td>
                                                    <td>{{ret_obj.uid}}</td>
                                                    <input type = "hidden" id = "uid" name = "uid" value="{{ret_obj.uid}}">
                                                </tr>
                                                <tr>
                                                    <td>姓名</td>
                                                    <td>{{ret_obj.uname}}</td>
                                                </tr>
                                               <tr>
                                                    <td>房间</td>
                                                    <td>{{ret_obj.room}}</td>
                                                </tr>
                                               <tr>
                                                    <td>性别</td>
                                                    <td>{{ret_obj.sex}}
                                                    
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>生日</td>
                                                    <td>{{ret_obj}}</td>
                                                </tr>
                                                <tr>
                                                    <td>邮箱</td>
                                                    <td>{{ret_obj.mail}}</td>
                                                </tr>
                                                <tr>
                                                    <td>手机</td>
                                                    <td>{{ret_obj.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td>固话（选填）</td>
                                                    <td>{{ret_obj.tel}}</td>
                                                </tr>
                                                <tr>
                                                    <td>权限</td>
                                                    <td>{{ret_obj.permission}}</td>
                                                </tr>
                                                
                                                <tr>
                                                <td></td>
                                                <td><input type = "submit" value="还原" class="btn btn-warning" ></td>
                                                </tr>
                                                </form>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    
                    
                    
                    
                    
                </div>
                </div>
                </div>

{% endblock %}
